name: Deploy to GCP

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - id: 'auth'
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.CREDENTIALS_JSON }}

      - name: Build API Docker image
        run: |
          docker build -t api:latest .
        working-directory: ./api/

      - name: Build Web App Docker image
        run: |  
          docker build -t web-app:latest .
        working-directory: ./web/

      - name: Tag Docker images
        run: |
          docker tag api:latest me-west1-docker.pkg.dev/akiva-ashkenazi/docker-repo/api:latest
          docker tag web-app:latest me-west1-docker.pkg.dev/akiva-ashkenazi/docker-repo/web-app:latest

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Use gcloud CLI
        run: |
          gcloud info

      - name: Login to GAR
        uses: docker/login-action@v2
        with:
          registry: me-west1-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.CREDENTIALS_JSON }}

      - name: push Docker images to Artifact Registry
        run: |
          docker push me-west1-docker.pkg.dev/akiva-ashkenazi/docker-repo/api:latest
          docker push me-west1-docker.pkg.dev/akiva-ashkenazi/docker-repo/web-app:latest

      - id: 'get-credentials'
        name: Get GKE Credentials
        uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: 'words-gke-autopilot-cluster'
          location: 'me-west1'

      - name: Set up Cloud SQL Proxy
        run: |
          echo "${{ secrets.CREDENTIALS_JSON }}" > ./tmp-key.json
          kubectl create secret generic my-gcp-credentials --from-file=service_account.json=./tmp-key.json

      - name: Deploy API and Web App to GKE
        working-directory: ./k8s-manifests/
        run: |
          kubectl apply -f api.yaml
          kubectl apply -f web.yaml

      - name: Expose application using Ingress controller
        working-directory: ./k8s-manifests/
        run: kubectl apply -f ingress.yaml

